@import "tailwindcss";

html, body {
  height: 100%;
  font-family: 'DM Sans','Instrument Sans';
  background-color: #FFFFFF;
  color: #000000;
  scroll-behavior: smooth;
}

.slider{
  animation: forwards;
}