@import "tailwindcss";

html{
    overflow-x: clip;
}

html, body {
  height: 100%;
  font-family: 'DM Sans','Instrument Sans';
  background-color: #FFFFFF;
  color: #000000;
  scroll-behavior: smooth;
  overflow-x: clip; 
}

.slider{
  animation: forwards;
}

.boxShadow:hover{
  box-shadow: 0 0 20px rgb(90, 80, 216, 0.5);
}

.parent{
  display: hidden;
}

@media (min-width: 1024px) {
  .parent {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
  }
}

.marquee-track {
  animation: marquee-scroll 25s linear infinite;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20%);
  }
}